@tailwind base;
@tailwind components;
@tailwind utilities;


.avatar-tooltip {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
  border-radius: 5px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.btn-circle:hover .avatar-tooltip {
  display: block;
}

